* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  text-align: center;
}
/* Style the header */
.header {

  padding: 30px;
  text-align: center;
  font-size: 35px;
}


.topnav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 35px;
  border-color: black;
  border-style: solid;
  border-left: white;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: black;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: darkblue;
  color: white;
}

h4 {
  font-size: x-large;
  color: gray;
  text-align: right;
  float: left;
  width:105%;
  padding: 35px;
  height: 30px; /* Should be removed. Only for demonstration */
}
h3 {
  font-size: xx-large;
  color: blue;
  float: left;
  width: 56.66%;
  padding: 10px;
  height: 30px; /* Should be removed. Only for demonstration */
}
.column1 {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
.column2 {
  float: left;
  width: 56.66%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
/* Create three equal columns that floats next to each other */
.column3 {
  float: left;
  width: 10%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
.column4 {
  float: left;
  width: 10%;
  padding: 10px;
  height: 100px; /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}