
body {
  width: 400px;
height:100px;
}


p{
width: 400px;
 height: 200px;
}

canvas {
  position: fixed;
  top:0;
  left:0;
  z-index:-1;
  
}
h1 {

  width: 1000px;
height:100px;
color: aliceblue
}
    a {

width: 400px;
 height: 200px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color:indigo
    }
a:link {
  text-decoration: none;
}
