


p{
  position: center;
width: 400px;
 height: 200px;
}

canvas {
  position: fixed;
  top:0;
  left:0;
  z-index:-1;
  
}


.mainhead {
  text-align: center;
  width: 1000px;
height:100px;
color: rgb(203, 17, 81)
}
    a {

  text-decoration: none;
}






.pathhead {
  text-align: left;
  width: 1000px;
  height:100px;
  color: aliceblue
}

h2 {
    text-align: center;

}

