.fade-in-image {
  opacity: 50%;
}

.fade-in-image:hover {
  opacity: 100%;
  transition: opacity 1s;
}



.btn {
  position: relative;
  padding: 1rem 2rem;
  background: none;
  border: 2px solid black;
  border-radius: 100px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}

.liquid {
  background: linear-gradient(black 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.2em);
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}

.liquid:hover {
  --p: 100%;
  --t: 0.3s;
  color: #fff;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.pulse:hover {
  border-radius: 50%;
  animation: pulse 2s infinite;
}
.body {
  position: absolute;
  left: 500px;
  top: 350px;
  z-index: 0;
}
.head {
  position: absolute;
  left: 377px;
  top: 351px;
  z-index: -1;
}

.flipper {
  position: absolute;
  left: 500px;
  top: 437px;
  z-index: -1;
}
.dorsal {
  position: absolute;
  left: 630px;
  top: 226px;
  z-index: -1 ;
}
.tail {
  position: absolute;
  left: 748px;
  top: 346px;
  z-index: -1;
}
.fin {
  position: absolute;
  left: 948px;
  top: 435px;
  z-index: -2;
}